<div class="main-plans plans">
	<div class="plan" data-id="free">
		<h4>Экспертиза</h4>
		<span class="price">₽ 0</span>
		<p class="description">Для начинающих</p>
		
		<p><i class="material-icons">check</i>Отчет по e-mail</p>
		<p><i class="material-icons">check</i>30 мин консультация</p>
		<br>
		<p><a href="https://goo.gl/forms/XSokvk5lUzY4Vpbl2" class="btn">отправить идею</a></p>
	</div>

	<div class="plan" data-id="basic">
		<h4>CustDev</h4>
		<span class="price monthly-price">₽ 5000</span>
		<p class="description">Тестирование идеи</p>
		
		<p><i class="material-icons">check</i>Поиск потенциальных клиентов</p>
		<p><i class="material-icons">check</i>Проблемное интервью</p>
		<p><i class="material-icons">check</i>Продуктовое интервью</p>
		<p><i class="material-icons">check</i>Отчет по e-mail</p>
		<br>
		<p><a href="callto:enblabs@gmail.com" class="btn">Оставить заявку</a></p>
	</div>

	<div class="plan" data-id="professional">
		<h4>Promo</h4>
		<span class="price monthly-price">₽ 3000</span>
		<p class="description">Создание проморолика</p>

		<p><i class="material-icons">check</i>Создание сюжета</p>
		<p><i class="material-icons">check</i>Поиск видео, музыки</p>
		<p><i class="material-icons">check</i>Накладывание титров</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Озвучивание</p>
		<br>
		<p><a href="callto:enblabs@gmail.com" class="btn">Оставить заявку</a></p>
	</div>
	
	<div class="plan" data-id="professional">
		<h4>Mockup</h4>
		<span class="price monthly-price">₽ 3000</span>
		<p class="description">Разработка макетов</p>

		<p><i class="material-icons">check</i>Не более 3-х экранов</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Видео-мокап</p>
		<br>
		<p><a href="callto:enblabs@gmail.com" class="btn">Оставить заявку</a></p>
	</div>
	<div class="plan" data-id="professional">
		<h4>Landing</h4>
		<span class="price monthly-price">₽ 3000</span>
		<p class="description">Создание сайта</p>

		<p><i class="material-icons">check</i>Адаптивная верстка</p>
		<p><i class="material-icons">check</i>Настройка SEO-оптимизация</p>
		<p><i class="material-icons">check</i>Бесплатный хостинг</p>
		<p><i class="material-icons">check</i>Бесплатный SSL/HTTPS</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Домен в подарок</p>
		<br>
		<p><a href="callto:enblabs@gmail.com" class="btn">Оставить заявку</a></p>
	</div>
	<div class="plan" data-id="professional">
		<h4>Market</h4>
		<span class="price monthly-price">₽ 5000</span>
		<p class="description">Проверка рынка</p>

		<p><i class="material-icons">check</i>Яндекс.Директ</p>
		<p><i class="material-icons">check</i>Вконтакте</p>
		<p><i class="material-icons">check</i>E-mail</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Facebook</p>
		<p class="disabled-state"><i class="material-icons">lock_outline</i>Instagram</p>
		<br>
		<p><a href="callto:enblabs@gmail.com" class="btn">Оставить заявку</a></p>
	</div>

</div>
