---
layout: default
title: Пресса
header: Пресса
header_subtext: Сведения о компании и упоминания в СМИ.
permalink: /press/
investors:
description: Сведения о компании и упоминания в СМИ от ЭнБиЛабс, сервиса для проверки идеи стартапа.
media_contacts:
  - name: Рахимян Тимерханов
    position: Директор &amp; Основатель
    email: rahimtoy@gmail.com
milestones:
articles:
---
<section>
	<div class="container text-container">
		<h3>Информация о компании</h3>

		<h4>Основано</h4>
		<p>{{ site.company.founded }}</p>

		<h4>Размер команды</h4>
		<p>{{ site.company.team_size }}</p>

		<h4>Расположено</h4>
		<p>{{ site.company.address }}</p>

		<h4>Проинвестировано</h4>
		<p>{{ site.company.funding }}</p>

		<h4>Инвесторы</h4>
		<p>{{ page.investors | array_to_sentence_string }}</p>

		<h4>Контакты для СМИ</h4>
		<p>
			{% for contact in page.media_contacts %}
				{{ contact.name }}, {{ contact.position }} <a href="mailto:{{ contact.email }}">Эл. почта</a>
				{% unless forloop.last %}<br>{% endunless %}
			{% endfor %}
		</p>
	</div>
</section>

<section id="featured-articles">
		<div class="container text-container articles">
			<h3>Избранные статьи</h3>

			{% for article in page.articles reversed %}
			<div class="article">
				<div class="logo"><img src="{{ article.logo_path }}" alt="{{ article.name }}"></div>
				<h4><a target="_blank" href="{{ article.link }}">{{article.title}}</a></h4>
				<p>{{ article.date | date_to_string }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

</section>

<section>
	<div class="container text-container">
		<div class="milestones">
			<h3>Вехи</h3>
			{% for milestone in page.milestones reversed %}
				<div class="milestone">
					<img src="{{ milestone.logo_path }}" alt="{{ milestone.name }}">
					<h4><a href="{{ milestone.link }}">{{ milestone.description }}</a></h4>
					<p>{{ milestone.date | date: '%B %Y' }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
